.main-body{
    background-color: #FDF5E6;
}

.food-section {
    padding: 10px 0;
}
.food-image {
    width: 100%;
    border-radius: 10px;
}
.order-btn {
    background-color: #ff5722;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
.order-btn:hover {
    background-color: #e64a19;
    color: white;
}


.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.food-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #202020;
    width: 80%;
}

.order-btn {
    background-color: #ff5722;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.order-btn:hover {
    background-color: #e64a19;
    color: white;
}

/* 
code belongs to below hero sections */

.hero-section {
    background-color: #fdefe0;
    padding: 50px;
}
.highlight-text {
    color: #d15326; 
    font-weight: bold;
}
.image-container img {
    width: 100%;
    border-radius: 10px;
}
.feature {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}
.feature-icon {
    font-size: 32px;
    margin-right: 10px;
}