

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Madimi+One&family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Teko:wght@300..700&display=swap');


*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #FDEFE0;
}

.custom-font-Madimi{
  font-family: "Madimi One", cursive;
}

.bg-pink{
  background-color: #D79F39;
}


.body-customHeading{
  font-family: "Ancizar Sans", sans-serif;
  font-optical-sizing: auto;
  margin: auto;
  width: 70%;
  text-align: center;
}

.shopCart{
  font-size: 30px;
  color: white;
  margin: 0 5px;
}

.cart-trolley-link {
  position: relative;
 }


  .cart-trolley {
  position: relative;
  font-size: 2.6rem;
  }

  .cart-total-items {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    left: 73%;

  }


  .thankyou-container {
    position: relative;
    width: 100%;
    height: 80vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 25px;
    margin: 20px 0;
  }
  
  .thankyou-content {
    position: relative;
    z-index: 1;
    background: #a3a74ad6;
    color: #523730;
    padding: 20px;
    border-radius: 10px;
  }



  
