

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');


*{
  margin: 0px;
  padding: 0px;
}

.outfit-font{
  font-family: "Outfit", sans-serif;
}
.quicksand-font{
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

body{
  font-family: "Outfit", sans-serif;
  background-color: #FDEFE0;
}

.custom-font-Madimi{
  font-family: "Madimi One", cursive;
}

.bg-pink{
  background-color: #D79F39;
}


.body-customHeading{
  font-optical-sizing: auto;
  margin: auto;
  width: 70%;
  text-align: center;
}

.shopCart{
  font-size: 30px;
  color: white;
  margin: 0 5px;
}

.cart-trolley-link {
  position: relative;
 }


  .cart-trolley {
  position: relative;
  font-size: 2.6rem;
  }

  .cart-total-items {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    top: -20%;
    right: 3%;

  }


  .thankyou-container {
    position: relative;
    width: 100%;
    height: 80vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 25px;
    margin: 20px 0;
  }
  
  .thankyou-content {
    position: relative;
    z-index: 1;
    background: #a3a74ad6;
    color: #523730;
    padding: 20px;
    border-radius: 10px;
  }

.carousel-indicators button {
  width: 15px;
  height: 15px;
  margin: 10px;
  border-radius: 50%;
  background-color: #ecd8d8;       /* Customize color */
  opacity: 1;                   /* Make sure it's not transparent */
  border: none;                 /* Optional: remove default border */
  transition: background-color 0.3s ease;
  border: 1px solid #504b4b;
}

.carousel-indicators .active {
  background-color: #ff6600;    /* Active dot color */
}

 



  
